<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
<div class="col-lg-12" style="background:#55ad3d; padding:60px; color:#fff;">
<div class="col-xs-4" style="text-align: center;">
  <img src="assets/img/imagenlogo2.jpg" style="width:60%;">
</div>
<div class="col-xs-4">
  Ubicacion
</div>
<div class="col-xs-4">
  Redes Sociales
</div>
</div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background:#55ad3d; color:#fff;"><b>©2019 Recyclam</b>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->